---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Teaching has become one of the most fulfilling things for me! 
I have teaching experiences (teaching fellow) in various disciplines including 
math (Calculus), 
atmospheric science (Introduction to Meteorology and Climate), 
and energy & environment (Energy within Environmental Constraints) 
under different class formats (e.g., flipped classroom). 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
